
:root{
    --primary : #030a7c;
    --secondary : #908c2d;
    --grandient : linear-gradient(45deg, #585db0, #030a7c, #060933 );
    --danger : #A0004F;
    --dangerVariant : #EC66A8;
    --dark : #1e1e1e;
    --black : #01010a;
    --light : #f5f5fb;
    --white : #fefefe;
    --gray : #616060;
    --borderColor : rgba(43, 43, 43, 0.08);
    --whiteVariant : #FAF9FA;
}
.slideHero img{
    display: block;
    box-shadow: 30px -30px 1px #F5F5FB;
    width: 100%!important;
    height: 100%;
    object-fit: cover;
}
.slideHero{
    padding: 10px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
h1{
    font-size: 40px;
    font-size: var(--bebas_neue);
}
header h1{
    font-size: 72px;
    font-family: var(--montserrat);
    font-weight: 500;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite le texte à 3 lignes */
    -webkit-box-orient: vertical;
}
header h1::before{
    background-color: #8a6b1c;
}

header{
    background: linear-gradient(45deg,rgba(3, 9, 124, 0.3),rgba(3, 9, 124, 0.2)),url(../assets/Texture.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 100px 0; */
    padding-bottom:100px ;
    margin: 0!important;
    /* justify-content: space-between; */
}
.titleText{
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite le texte à 3 lignes */
    -webkit-box-orient: vertical;
}
.upTitle{
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    color: #73570f;
}
.heroText .swiper-slide{
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: transparent!important;
    
}
.heroText{
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.heroText .swiper-slide .left{
   width: 90%;
    animation: animeX 1s ease-out forwards;
    margin-left: 10px;
}
.heroText .swiper-slide .right{
    animation: anime 1s ease-out forwards;
}
.btnPlus{
    color:var(--white);
    padding: 0 20px;
    display: flex;
    place-items: center!important;
}
.containerLg{
    width: 85%;
    margin: 0 auto;
}
.ctrlPane .swiper-button-prev{
    display: none!important;
}
.ctrlPane .swiper-button-next{
    left: 90% !important;
    top: 90% !important;
}
.ctrlPane .swiper-button-next::after{
    font-size: 12px!important;
    background: var(--primary)!important;
    color: var(--white) !important;
    padding:8px 12px;
    border-radius: 10px;
}
@keyframes anime {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animeX {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* starting stilling about section */
#about{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center!important;
    gap: 150px;

}
#about:not(h1){
    font-family: var(--montserrat);
}
.sectionTitle{
    position: relative;
}

/* about left place */
.boxes{
    display: flex;
    gap: 20px;
}
.boxPlace{
    display:flex;
    gap:1px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 5px;
    border: 1px solid rgba(43, 43, 43, 0.05);
}
.boxText{
    font-size: 14px;
}
.smallTitle{
    font-family: var(--montserrat);
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark);
}
/* about right place */
.sliderContainer{
    background-color: #F5F5FB;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slider{
    width: 100%;
    padding-bottom:10px ;
}
.slider img{
    width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* .slider .btnControleSlide{
    margin: 20px;
    margin-bottom: 20px!important;
} */
.sliderControle{
    /* position: absolute;
    right: 20px;
    bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 500px;
    height: 100%;
    object-fit: cover;
  }
 .rightA .swiper-button-next,.rightA .swiper-button-prev{
    position: none !important;
    /* width: 5px!important;
    height: 5px !important; */
    color: var(--primary);
    font-size: 5px !important;
    /* top:10px!important; */
    /* bottom: 0!important; */
  }
  .rightA .swiper-button-next::after,.rightA .swiper-button-prev::after{
   font-size: 24px;
   font-weight: 900;
  }
  .swiper-button-next,.swiper-button-prev{
    color: var(--primary)!important;
  }
  
  .controlePave{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .controleTab{
        position: relative;
        /* background-color: red!important; */
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* actualité side */

    #actu{
        width: 100%;
        /* background: url(../assets/shape-5\ 1.png);
        background-position: center;
        background-size:100%; */
        padding-bottom: 100px;
        position: relative;
    }
    .bck{
        background: url(../assets/shape-5\ 1.png);
        background-position: top;
        background-size:100% 100%;
        position:absolute;
        display: block;
        width: 100%;
        height: 200px;
        top: 60%;
        z-index: 0;
    }
    #actu .containerLg{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    .actualNews{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 1;
    }
    .newItems{
        background-color: var(--light);
        width: 30%;
        border-radius: 10px;
        overflow: hidden;
    }
    .headerNews{
        width: 100%;
        position: relative;
    }
    .tag{
        box-sizing: border-box;
        display: block;
        width: 80%;
        /* margin:0 auto; */
        position: absolute;
        background-color: var(--secondary);
        /* padding: 5px; */
        font-family: var(--montserrat);
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 8px;
        color:var(--white);
        top:85%;
        left: 10%;
    }
    .headerNews img{
        width: 100%!important;
        height: 200px;
    }
    .contentNews{
        padding: 20px;
    }
    .feeds{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .link{
        color:#060933;
        font-family: var(--inter);
    }
    .link a{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .link a span{
        background-color: rgba(217, 217, 217, 0.5);
        padding:5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    .feed{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .feed div{
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--secondary);
    }
    .textNews{
        font-family: var(--montserrat);
        font-size: 14px;
        text-align: justify;
    }

    .seeMoreNewBtn{
        background: var(--grandient);
        color: var(--white);
        display: flex;
        gap: 15px;
        align-items: center!important;
        font-family: var(--inter);
        font-size: 16px;
        padding: 10px 20px;
        width: fit-content;
        align-self: flex-end;
    }
    .seeMoreNewBtn svg{
        fill: var(--white)!important;
    }

    /* revue style place */
    #revue{
        background: linear-gradient(45deg,rgba(3, 9, 124, 0.3),rgba(3, 9, 124, 0.3)),url(../assets/Texture.png);
        background-position: cover;
        background-repeat: no-repeat;
        background-size:100% 100%;
        /* height: 500px; */
        padding-bottom: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .revueContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rightR .swiper-slide{
        background-color: white;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        }
    .rightR .swiper-slide::before{
        content: "Revue title";
        display: block;
        background-color: var(--secondary);
        color: var(--white);
        position: absolute;
        top: -5px;
        padding: 5px 20px;
        border-radius: 10px;
        font-family: var(--inter);
    }
    .rightR .swiper-slide h3{
        font-size: 40px;
        font-family: var(--bebas_neue);
        border-right: 1px solid var(--secondary);
        padding-right: 20px;
    }
    
    .slideDetails{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-start;
        width: 80%;
        margin: 0 10%;
    }
    .loc{
        border-right: 1px solid var(--secondary);
        padding-right: 20px;
    }
 
    .textN1{
        font-weight: 500;
        font-family: var(--inter);
        font-size: 16px;
    }
    .textN2{
        font-family: var(--montserrat);
        font-size: 14px;
    }
    .itemsLoc{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

@keyframes animeFall {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.swiper{
    height: auto!important;
   

   }

   .sliders{
    display: flex;
    align-items: center;
    justify-content: center;
   }

/* medium screen */
@media screen and ( max-width:1274px ) {
    .heroText{
        width: 90%;
    }
}
@media screen and ( max-width:1174px ) {
  
    /* about place */
    #about{
        gap: 50px;
      
    }
    /* starting the actuality section */
    .actualNews{
        /* flex-direction: column; */   
        gap: 50px;
    }
    .newItems{
        width: 40%;
    }
    .bck{
        background: url(../assets/shape-5\ 1.png);
        background-position: top;
        background-size:cover;
        position:absolute;
        display: block;
        width: 100%;
        height: 200px;
        top: 70%;
        z-index: 0;
    }
    /*  */
}
@media screen and ( max-width:1024px ) {
    .slideHero{
        padding: 0px; 
    }
    .heroText{
       width: 90%!important;
       justify-content: space-between;
    }
    .w--10{
        width: 80%;
    }
   
   
    .slideHero img{
        width: 100%;
    }
    /* about place */
    #about{
        gap: 20px;
      
    }
    .icon svg{
        width: 70px;
    }
    .rightA .swiper{
        width: 400px;
    }
    .rightA .swiper-slide img{
        width: 100%;
    }
   
    .rightR .swiper {
        width: 400px !important;
    }
}

@media screen and ( max-width:991px ) {
     .heroText{
        width: 90%!important;
        flex-direction: column!important;
    }
    .heroText .swiperHero{
        width: 90%!important;
        display: flex;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;
    }
 
    .heroText .swiperHero .swiper-slide{
        width: 100%!important;
    }
    .heroText .swiperHero .left, .heroText .swiperHero .right{
        width: 100%!important;
        }
    .swiperHero img{
        margin: 0!important;
        width: 100%!important;

    }
}
@media screen and ( max-width:850px ) {
    #about{
        padding: 0;
    }
    .w--10{
        width: 90%;
    }
    .heroText .swiper-slide{
        justify-content: flex-start!important;
        flex-direction: column!important;
    
        height: auto!important;
     }
     .heroText .swiper-slide .left{
        width: 90% !important;
     }
     .titleText{
        width: 100%;
        display: inline-block;
     }
     .containerLg{
        width: 90%;
        margin: 0 auto;
    }
    /* about resizing */
    #about{
        flex-direction: column!important;
        padding: 0;
        gap: 50px;
    }
    /* actuality section */
    .actualNews{
        flex-direction: column;
        }
        .newItems{
            width: 70%;
            z-index: 1;
        }
        .contentNews{
            padding: 30px;
        }

        .bck{
            background: url(../assets/shape-5\ 1.png);
            background-position: top;
            background-size:cover;
            position:absolute;
            display: block;
            width: 100%;
            height: 200px;
            top: 80%;
            z-index: 0;
        }
        .headerNews img{
            width: 100%!important;
            height: 200px;
            object-fit: cover;
        }
        .tag{
            width: 50%;
            top:85%;
            left: 25%;
        }
        
        /*  */
    /* revue resizing */
    .revueContent{
        flex-direction: column!important;
        gap: 50px;
        padding: 0;
    }
    .rightR .swiper {
        width: 400px !important;
    }
    .rightA .swiper-button-next::after, .rightA.swiper-button-prev::after{
        width: 20px!important;
        height: 20px !important;
        font-size: 20px!important;
      }
      .controlePave{
        gap: 20px;
      }
}
/* end */

@media screen and ( max-width:670px ){
    .tag{
        width: 70%;
        top:85%;
        left: 15%;
    }
}
/* very small screen */

/* 450px screen size */

@media screen and ( max-width:490px ) {
    header{
        background-position: 100%;
        width: 100%;
        padding: 50px 0;
    }
    h1{
        font-size: 40px!important;
    }
    .heroText .swiperHero{
        width: 100%!important;}
    .heroText .swiper-slide .left{
        width: 100%!important;
        margin: 0 auto;
    }
    .titleText{
        width: 90%!important;
        overflow: hidden!important;
        text-wrap:wrap!important ;
        display: inline-block!important;
        text-align: justify;
    }
    .heroText .swiper-slide{
        width: 100%!important;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;
        
    }
    .slideHero{
        width: 100%;
        height: 200px;
        margin: 0!important;
        padding: 0!important;
    }
    .slideHero img{
        width: 90%!important;
        box-shadow: 20px -20px 1px #F5F5FB;
      
        /* margin: 0 auto!important;  */
    }
    .ctrlPane .swiper-button-prev{
        left: 80% !important;
        top: 95% !important;
        transform: rotate(180deg);
    }
    /* fin hero section */
    /* debut about */
    #about .left{
        width: 100%!important;
        padding: 0;
    }
    #about .left p{
        text-align: justify;
        display: inline-block!important;
        width: 80%;
        margin-left:10%!important ;
    }
    .boxPlace{
        width: 80%;
        margin-left: 10%;
        gap: 20px!important;
    }
    .icon svg{
        width: 50px;
    }
    .boxes{
        flex-direction: column!important;
        gap: 20px!important;
        width: 100%;
    }
    .smallTitle{
        font-size: 18px;
        text-align: justify;
        display: inline-block!important;
        width: 80%;
    }
    .rightA .swiper-slide img{
        width: 100%!important;
        /* margin: 0 auto; */
    }
    .slider img{
        width: 80%!important;
        /* margin: 0 auto; */
    }
    .rightA .swiper{
        width: 350px!important;
        transform: translateX(0px);
    }
    /* starting the actuality section */
    .actualNews{
        flex-direction: column;
        gap: 30px;
    }
    .newItems{
        width: 100%;
    }
    .bck{
        background: url(../assets/shape-5\ 1.png);
        background-position: top;
        background-size:cover;
        position:absolute;
        display: block;
        width: 100%;
        height: 200px;
        top: 80%;
        z-index: 0;
    }
    .tag{
        width: 70%;
        top:85%;
        left: 15%;
    }
    /*  */

    /* starting with revue section */
    .revueContent{
        flex-direction: column!important;
        gap: 50px;
        padding: 0;
        align-items: flex-start!important;
        margin-left:10% ;
    }
    .rightR .swiper {
        width: 300px !important;
        margin: 0 auto;
    }
    .rightR .swiper-slide img{
        width: 100%;
        margin: 0 auto;
    }
    .rightR .swiper-slide h3{
        font-size: 18px;
        font-family: var(--bebas_neue);
        border-right: none;
        padding-right: 20px;
        /* display: none; */
    }
    
    .slideDetails{
        flex-direction: column;
        width: 80%;
        margin: 0 10%;
    }
    .calendar svg{
        width: 30px;
    }
    .textN1{
        font-size: 14px;
    }
    /* section rx */
  
  .elementor-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    width: 80%!important;
    overflow: hidden;
  }
  .elementor-column{
    width: 100%!important;
    overflow: scroll;
  }
 

  /* fin section rx */

    
}

/* 375px screen phone */
@media screen and ( max-width:375px ) {
    .boxPlace{
        width: 80%;
        margin-left: 10%;
    }
    .icon svg{
        width: 40px;
    }
    .boxes{
        flex-direction: column!important;
        width: 100%;
    }
    .smallTitle{
        font-size: 16px;
        text-align: justify;
        display: inline-block!important;
        width: 80%;
    }
    .rightA .swiper-slide img{
        width: 100%!important;
        /* margin: 0 auto; */
    }
    .slider img{
        width: 80%!important;
        /* margin: 0 auto; */
    }
    .rightA .swiper{
        max-width: 300px!important;
        min-width: 260px!important;
        transform: translateX(0px); 
    }

    /* starting with revue section */
    .revueContent{
        flex-direction: column!important;
        gap: 50px;
        padding: 0;
        align-items: flex-start!important;
        margin-left:10% ;
    }
    .rightR .swiper {
        width: 250px !important;
        margin: 0 auto;
    }
    .rightR .swiper-slide img{
        width: 100%;
        margin: 0 auto;
    }
    .rightR .swiper-slide h3{
        font-size: 18px;
        font-family: var(--bebas_neue);
        border-right: none;
        padding-right: 20px;
        /* display: none; */
    }
    
    .slideDetails{
        flex-direction: column;
        width: 80%;
        margin: 0 10%;
    }
    .calendar svg{
        width: 30px;
    }
    .textN1{
        font-size: 14px;
    }
    
}




.loader {
    width: 6em;
    height: 6em;
  }
  
  .loader-ring {
    animation: ringA 2s linear infinite;
  }
  
  .loader-ring-a {
    stroke: #908c2d;
  }
  
  .loader-ring-b {
    animation-name: ringB;
    stroke: #cfcfa4;
  }
  
  .loader-ring-c {
    animation-name: ringC;
    stroke: #8a6b1c;
  }
  
  .loader-ring-d {
    animation-name: ringD;
    stroke: #FFFFD3;
  }
  
  /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  
  /* loader Principal du site */
  .loaderMain{
    background-color: #060933;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 33333333;
  }
  .loaderMain .loadContainer{
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;z-index: 555555555555555555;
  }
  .loaderMain .bg{
   object-fit: cover;
    width: 100%;height: 100%;
  }