@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freehand&display=swap');
@import './secondarStyle.css';
@import './actualite.css';
@import './mension.css';
@import './about.css';
@import './academique.css';
@import './contact.css';

:root{
  --primary : #030a7c;
  --secondary : #908c2d;
  --grandient : linear-gradient(45deg, #585db0, #030a7c, #060933 50%);
  --danger : #A0004F;
  --dangerVariant : #EC66A8;
  --dark : #1e1e1e;
  --black : #01010a;
  --light : #f5f5fb;
  --white : #fefefe;
  --gray : #616060;
  --borderColor : rgba(43, 43, 43, 0.08);
  --whiteVariant : #FAF9FA;
  --inter:'Inter', sans-serif;
  --montserrat : "Montserrat", sans-serif;
  --freehand : "Edu NSW ACT Foundation", cursive;
  --bebas_neue : 'Bebas Neue', sans-serif;
}
body{padding: 0px;margin: 0px;
    overflow-x: hidden;
    position: relative;
    /* left: 0;
    right: 0;
    top: 0; */
    width: 100dvw;
    background-color: var(--white);}
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        overflow-x: hidden;
        background-color: var(--white);
      }
      .navScroll{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
      }
      .topBottom{
        animation: 0.7s topBottom ease-in-out  forwards;
      }
      .topBottom2{
        animation: 1s topBottom ease-in-out  forwards;
      }
      .topBottom3{
        animation: 1.3s topBottom ease-in-out  forwards;
      }
      @keyframes topBottom {
        from{
          opacity: 0;
          top: -50px;
          position: relative;
        }
        to{
          opacity: 1;
          top: 0;
          position: relative;
        }
      }
      .visible{
        animation: 0.7s visible ease-in-out forwards;
      }
      @keyframes visible {
        from{
          opacity: 0;
          bottom: -100px;
          position: relative;
        }
        to{
          opacity: 1;
          bottom: 0;
          position: relative;
        }
      }
a{
  color: var(--primary);
  text-decoration: none;
}
ul li{
  list-style: none;
}

h1{
    font-size: 40px;
    font-family: var(--bebas_neue);
    color: var(--dark);
    font-weight: 400;
    position: relative;
    text-align: left;
  }
  h1::before{
    content: '';
    background-color: var(--secondary);
    width: 80px;
    height: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -16px;
    left: 0;
  }

/* menu navbar */

.navbar{width: 90%;
    height: 64px;
   /*  background-color:var(--white); */
    position: fixed;top: 0px;display: flex;
    align-items: center; justify-content: space-between; 
    padding: 0 5%;
    z-index: 10;
  }


  .navBg{
    background-color: var(--light)!important;
    animation: animes 1s ease-out forwards;
  }
  .navBg2{
    animation: anime2 1s ease-out forwards;
  }
  @keyframes animes {
    from{
        opacity: 0;
        transform: translateY(-64px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes anime2 {
  from{
    opacity: 0;
      background: var(--light);
      transform: translateY(-64px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
      background: none!important;
  }
}

  .logo{display: flex;align-items: center;justify-content: center;height:100%;}
  .logo div{display: flex; align-items: center; justify-content: center;}
  .logo a{font-family:var(--inter);font-weight: bold;font-size: 1em;
    color: var(--primaryVariant);}
  .logo img{width: 30px;padding-right: 4px;}
  .links ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    font-family: var(--inter);
    font-size: 14px;
    z-index: 500;
  }
  .links ul li a{
    color: var(--black);
    
    fill: var(--gray);
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center!important;
    justify-content: center;
    gap: 5px;
    font-family: var(--inter);
    font-weight: 400;

  }
  .links ul li a span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .links ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
  .links ul li:hover{
    color: var(--primary);
    fill: var(--primary);
    cursor: pointer;
  }
  .links ul li a:hover{
    color: var(--primary);
    fill: var(--primary);
    height: 64px;
  
  }
  .links .item a:hover{
    height: auto!important;
  }
 
  .links .item a{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .links .item a #tt{
    position: absolute;
    left: 32px;
    font-family: var(--montserrat);
  }
  .links ul li a svg{
    width: 14px;
    height: 14px;
   
  }

  .items1Show{
    animation: 0.7s items1SHow ease-in-out forwards;
  }
  .items1Hide{
    animation: 0.4s items1Hide ease-in-out forwards;
  }
  @keyframes items1SHow {
    from{
        opacity: 0;
        transform: translateY(-10px);
        display: none;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        display: flex;
    }
}
@keyframes items1Hide {
    from{
      opacity: 0;
      transform: translateY(0);
      display: none;
    }
    to{
      opacity: 0;
      transform: translateY(-10px);
      display: none;
    }
}
  #items{
    right: 20px;
    display: none;
  }
  .item img{
    width: 16px;
    height: 16px;
  }
  
  .tooltipAcount{
    width: max-content;
    height: auto;
    padding: 30px 10px;
    background-color: var(--light);
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    display: flex;
    transition: 5s display ease-in-out;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 64px;
    min-width: 150px;
    z-index: 20;
    box-shadow: 2px 2px var(--light);
    cursor: default;
  }
  .tooltipAcount2{
    background-color: var(--light)!important;
    position: absolute;
    top: 0px;
    left: 255px;
    opacity: 1;
  }
  .mens svg{
    position: absolute;
    right: 0px;
    transform: rotate(270deg);
  }
  #link1{
    position: relative;
   
  }
  
  .tooltipAcount .item span{
    overflow: hidden;
    display: -webkit-box;
      -webkit-line-clamp: 1; /* Limite le texte à 3 lignes */
      -webkit-box-orient: vertical;
      display: flex;
      flex-wrap: nowrap;
      color: var(--dark);
      font-size: 14px;
  }
  .tooltipAcount .item{
    cursor: pointer;
  }
  .mens{
    width: 220px!important;
  }
  .mens #link1:hover{
    width: 180px!important;
    background: none!important;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tooltipAcount .item span:hover{
    background:  linear-gradient(to right bottom, var(--primary) , #585db0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill: var(--primary);
    cursor: pointer;
  }
  .tooltipAcount .item:last-child{
    border-bottom: none;
  }
  .tooltipAcount .item{
    width: 80%;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--borderColor);
    color: var(--dark);
    font-family: var(--montserrat);
    display: flex;
    flex-wrap: nowrap;
    opacity: 1;
    gap: 15px;
    background: none;
    align-items: center;
  }


  .tooltipAcount .item svg{
    fill: var(--dark);
    width: 16px;
    height: 16px;
  }
   button{
    height: 40px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    font-family: var(--montserrat);
    cursor: pointer;
    text-align: center;
    background: var(--grandient);
    background-size: 300%;
    z-index: 1;
  }
  
  button span, .caret_btn{
    color: var(--light);
    fill: var(--light);
    font-weight: 600;
  }
  button svg{
   transform : scale(1.3);
   width: 16px;
   height: 16px;
   fill: var(--light);
  }
  /* fin navbar */

  /* section mension */
  #mension{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .containMension{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0 50px 0;
    z-index: 2;
    gap: 50px;
  }
  #mension .cc{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 0;
    object-fit: cover;
  }
  #mension .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1;
    background-color: #00000099;
    backdrop-filter: blur(4px);
  }
  .nameSection{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 2;
  }
  #mension h1{
    color: var(--light);
  }
  .more{
    display: flex;
    justify-content: right;
  }
  h5{
    font-size: 16px;
    font-family: var(--inter);
    color: var(--light);
    font-weight: 400;
    position: relative;
   width: 150px;
   text-align: right;
  }
  h5::before{
    content: '';
    background-color: var(--primary);
    width: 30px;
    height: 6px;
    border-radius: 2px;
    position: absolute;
    bottom: -8px;
    right: 0;
  }
  .section{
   
    height: auto;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px; height: 310px;
  }
 
  .section .ccc{
    position: absolute;
    top: 0;
    height: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 0;
  }
  .sec{
    width: 200px;
    height: 240px;
    border-radius: 8px;
    background-color: var(--light);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .sizefade{
    animation: sizefade 0.4s ease forwards;
  }
  @keyframes sizefade{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
  }
  .sizeadd{
    animation: sizeadd 0.4s ease forwards;
  }
  @keyframes sizeadd{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
  }

  .secIcon{
    background: linear-gradient(to bottom, #060933, #06093305);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secIcon img{
    width: 50px;
    height: 50px;
  }
  
  .secIcon::before{
    content: '';
    background: linear-gradient(to right, #060933, #908c2d);
    width: 90px;
    height: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -30px;
    left: 5px;
  }
  .sec span{
    font-family: var(--inter);
    font-weight: 600;
    color: var(--dark);
    z-index: 20;
    background: linear-gradient(to right, #060933, #01010a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hoverSec{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;bottom: 0; right: 0; left: 0;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    z-index: 8;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
  }
  .hoverSecc{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: -2px; right: 0; left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
    gap: 50px;
  }
  .svg .svgimg{
    background-color: var(--light);
    padding: 12px;
    margin-bottom: -12px;
    border-radius: 50%;
    border: 2px solid var(--secondary);
    fill: var(--secondary);
    cursor: pointer;
    z-index: 22;
    box-shadow: 0 0 0px var(--light);
    transition: 0.4s box-shadow ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
  }
  .svgimg img{
    position: relative;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;max-height: 24px;
    object-fit: cover;
  }

  .svg .svgimg:hover{
    box-shadow: 0 0 5px var(--light);
  }
  .svg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scsc{
    position: absolute;
    z-index: 22;
    top: -50px;
  }
  .scsc span{
    color: var(--light);
    font-size: 16px;
    font-family: var(--inter);
    font-weight: 600;
  }
  .sibling{
    width: max-content;
    background-color: var(--light);
    backdrop-filter: blur(5px);
    display: flex;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
    align-items: center;
    position: absolute;
    top: -30px;
    box-shadow: 0px 0px 5px #ffffffaa;
    justify-content: center;
    padding: 5px 10px;
    color: var(--dark);
    font-family: var(--montserrat);
    font-size: 13px;
  }

  .topnime{
    animation: topnime 0.4s ease forwards;
  }
  @keyframes topnime{
    0%{
        top: -20px;
    }
    100%{
        top: -40px;
    }
  }
  .bottomnime{
    animation: bottomnime 0.4s ease forwards;
  }
  @keyframes bottomnime{
    0%{
        top: -40px;
    }
    100%{
        top: -20px;
    }
  }


  /* fin mension */


  /* Section DG */
  #DG{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    padding-bottom: 30px;
  }
  #DG h1{
    color: var(--dark);
  }
  .mySwiper{
    width: 90%;
  }
 
  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  .DGimg{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 16%;
    overflow: hidden;
    margin: auto;
  }
  .DGimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
  }
  .imgGradient{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: linear-gradient(to bottom, #00000000, #00000055,#000000);
  }
  .DGdescript{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
   margin: auto;
   position: relative;
   top: -30px;
   padding: 8px 0; 
   gap: 8px;
   border-radius: 8px;
   box-shadow: 2px 2px #00000022;
  }
  .DGname{
    color: var(--dark);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 600;
  }
  .DGyear{
    color: var(--secondary);
    font-family: var(--montserrat);
    font-size: 14px;
  }
  
#DG .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--grandient); /* Couleur de la balle active de pagination */
  margin-top: 30px;
}
#DG .swiper-pagination-bullet{
  background-color: #030a7c;
}

#DG  .swiper-button-prev{
  margin-right: 140px;
  position: relative;
  width: auto;
  height: auto;
  top: -4px;
 
}
#DG  .swiper-button-next {
  margin-left: 140px;
  position: relative;
  width: auto;
  height: auto;
  top: -4px;
}
#DG  .swiper-button-next:after,#DG  .swiper-button-prev:after {
  font-size: 0.7em;
  font-weight: 900;
  color: var(--primary);

 
}
#DG  .swiper-button-next:after{
  background-color: var(--primary);
  color: var(--light);
  padding: 0.4rem 0.55rem;
  border-radius: 50%;
}
#DG  .swiper-button-prev:after{
  background-color: #00000022;
  color: var(--primary);
  padding: 0.4rem 0.55rem;
  border-radius: 50%;
}
#DG .swiper-slide{
  background: none;
}
  /* Fin section DG */

    
  .rightA .swiper {
    width: 500px;
    height: 100%;
  }

  .rightA .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent!important;
  }

  .rightA .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rightR .swiper {
    width:500px;
    height: 100%;
  }

  .rightR .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .rightR .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px !important;

  }
  .rightR .swiper-pagination-bullet-active{
    background:var(--secondary) ;
    width: 16px;
    height: 16px;
  }
  .rightR .swiper-pagination-bullet{
    background:var(--secondary);
    opacity: 1;
    width: 16px;
    height: 16px;
  }
  .rightR .swiper-pagination{
    margin-left: -180px;

  }
  /* .swiper-pagination{
    top: 100%!important;
  } */
  .heroText .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-bottom: 20px!important;
    
  }

  /* section rx */
  #rx{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .elementor-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 5%;
    width: 90%;
  }
  .elementor-column{
    flex-basis: 200;
    flex-grow: 1;
    background-color: var(--light);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: inset 0 0 16px #00000011;
  }
  .elementor-column:last-child{
    padding-bottom: 0px;
  }
  .elementor-column h3{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    border-radius: 16px;
  }
  .elementor-column h3 iframe{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--white);
    border: 1px solid #00000022;
  }
  ::-webkit-scrollbar{
    background: none;
    width: 5px;
    height: 5px;
    
  }
  ::-webkit-scrollbar-thumb{
    background-color: #060933;
    border-radius: 1px;
    
  }
  .elementor-column h3 iframe::-webkit-scrollbar{
    background: none;
    width: 5px;
    height: 5px;
    
  }
  .elementor-column h3 iframe::-webkit-scrollbar-thumb{
    background-color: #060933;
    border-radius: 1px;
    
  }
  .elementor-column h3 span{
    background-color: var(--white);
    display: flex;
    flex-wrap: nowrap;
    width: 94%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    font-family: var(--inter);
    color: var(--dark);
    border: 1px solid #00000022;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .elementor-column h3 span a{
    background-color: var(--primary);
    color: var(--light);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
  }

  /* fin section rx */

  /* debut footer */
.footer{
    width: 100%;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    height: max-content;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
  .footertitle{
    background:  linear-gradient(to right bottom, var(--primary) 40%, var(--secondary), var(--tertiary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: 10%;
    font-size: 20px;
    font-family: var(--inter);
    font-weight: 600;
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    
  }

  .footer11 h2{
    font-family: var(--montserrat);
    color: var(--light);
    font-size: 20px;
  }
  .footer1, .footer3{
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    width: 60%;
    padding: 0 10%;
    padding-bottom: 40px;
    height: max-content;
  }
  .footer11{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    width: 33.333%;
    min-width: 250px;
  }
  .footer11:last-child{
    gap: 20px;
  }
  .footer1 p{
    color: var(--light);
    opacity: 0.8;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   }
   .footer1 label{
    color: var(--light);
    opacity: 0.8;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: var(--montserrat);
   }
   .footer1 p svg{
    fill: rgba(240, 238, 247,0.8);
   }
   .footer1 p:hover{
    color: rgba(240, 238, 247,0.5);
    fill: rgba(240, 238, 247,0.5);
   }
   .footer1 ul li:hover{
    color: var(--secondary);
    cursor: pointer;
   }
   .footer11:nth-child(2) h2{
    margin-bottom: 25px;
   }
   .footer11:nth-child(2){
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);  
   }
   .menuList{
    display: flex;
    flex-direction: column;
    padding: -20px;
    height: 30px;
    justify-content:left;
    transition: 1s height ease-in-out;
   }
   #btnftmenu{
    font-family: var(--inter);
    width: max-content;
   }
   #btnftmenu svg{
    fill: var(--light);
    width: 16px;
    height: 16px;
   }
  .footer11 ul li{
    color: var(--light);
    opacity: 0.6;
    font-size: 13px;
    font-family: var(--montserrat);
    position: relative;
    bottom: 15px;
  }
  .footer11 ul li a{
    color: #ffffffaa;
  }
  .footer1 ul{
    flex-direction: column;
    gap: 5px;
    
  }
  .footer1 .adr{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    
  }
  .footer1 .adr svg{
    width: 20px;
    height: 20px;
    fill: var(--secondary)
  }
  .footer1 .adr span{
  color: rgba(240, 238, 247,0.8);
  font-family: var(--montserrat);
  font-size: 15px;
  }
  .footer11 form input{
    height: 45px;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 16px;
    background-color: var(--light);
    border: none;
  }
  .footer11 form input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 5px #ffffff;
  }
  .footer11 form button{
    background: var(--light);
    height: 45px;
    width: 20%;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
  }
  .footer11 form button::before{
    background: none;
  }
  .footer11 form{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    width: 100%;
  }
  #form{
    width: 100%;
  }
  .footer11 form:hover{
    border-radius: 8px;
    box-shadow: 0 0 5px var(--light);
  }
  .footer11 form input:hover{
    box-shadow: 0 var(--light);
  }
  .footer3{
    width: 80%;
  }
  
  .footer3 .payement{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
  }
  .footer3 .footer11{
    width: auto;
    gap: 20px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer3 .payement svg, .footer3 .payement img{
    width: 20px;
    height: 20px;
    background-color: rgba(240, 238, 247,0.2);
    padding: 8px 16px;
    border-radius: 4px;
    fill: #F0EEF7;
  }
  .footer3 .partener svg{
    height: 20px;
    width: 16px;
    fill: #9613AD;
  }
  .footer3 .footer31{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
  }
  .footer3 .footer31 .cardText{
    width: 50px;
    height: 50px;
  }
  
  
  
  .footer2{
    background: rgb(3, 10, 124, 0.1);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    padding: 10px 10%;
  }
  .footer2 span{
    color: var(--light);
    font-size: 14px;
    font-family: var(--montserrat);
    text-align: center;
  }
  .linkRx{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    color: var(--light);
    font-family: var(--inter);
  }
  .footer2 svg{
    fill: var(--light);
    width: 24px;
    height: 24px;
  }
  #dismiss{
    display: none;
    position: relative;
  }
  /* fin footer */

  
  @media screen and (max-width : 1178px) {
    .section{
      flex-grow: 1;
      flex-basis: 200;
    }
    .footer1, .footer3{
      width: 80%;
      padding: 0 5%;
      padding-bottom: 40px;
      height: max-content;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .footer11{
      flex-grow: 1;
      flex-basis: 200;
      min-width: 200px;
    }
    #ff{
      align-items: center;
      justify-content: center;
    }
    .footer2{
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      height: auto;
    }
   
  }

  @media screen and (max-width : 991px) {
    .navbar{width: 94%;
      align-items: center; justify-content: space-between; 
      padding: 0 3%!important;
      z-index: 10;
    }
    .links{
      background-color: #01010a;
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 300px;
      height: 100dvh;
      justify-content: space-between!important;
      gap: 0px;
      overflow: hidden;
      transform: translateX(-100%);
    }
    .openMenu{
      animation: 0.4s openMenu ease-in-out forwards;
    }
    @keyframes openMenu {
      from{
        opacity: 0;
        transform: translateX(-100%);
      }
      to{
        opacity: 1;
        transform: translateX(0%);
      }
     }
     .closeMenu{
      animation: 0.4s closeMenu ease-in-out forwards;
    }
    @keyframes closeMenu {
      from{
        opacity: 1;
        transform: translateX(0%);
      }
      to{
        opacity: 0;
        transform: translateX(-100%);
      }
     }
    .links .logo{
      height: 80px;
      width: 80%;
      border-bottom: 1px solid #ffffff55;
      margin: 0;
      top: 0;
      margin-top: 0;
      position: relative;
      font-size: 14px;
      justify-content: center;
      text-align: center;
      flex-direction: column-reverse;
      gap: 10px;
      padding: 8px 0;

    }
    .links  .logo a{
      color: var(--light);
    }
    .links .logo img{
      position: relative;
      bottom: 8px;
    }

    .links ul{
        display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      height: auto;
      gap: 8px;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
    }
    .links .footer2{
     position: relative;
     margin: 0;
     align-items: center;
     justify-content: center;
     padding: 16px 0!important;
     background: none;
     border-top: 1px soliD #ffffff55;
     flex-direction: column-reverse;
     
    }
    .links .footer2 span{
      text-align: center;
      line-height: 24px;
    }
    .linkRx{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .admit{
      display: none;
    }
    #dismiss{
      display: flex;
      width: 100%;
      justify-content: left;
    }
    #dismiss button{
      margin-left: 20px;
      color: var(--secondary);
      width: 85%;
    }
    #dismiss button svg{
      width: 16px!important;height: 16px!important;
    }
    .btnOpenenu{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      width: auto!important;
      fill: #060933;
      color: #060933;
      font-family: var(--inter);
      margin-top: 0!important;
      cursor: pointer;

    }


 
  .links .item{
    width: 100%;
    } 
    #link1, #link3{
      position: relative;
      width: 84%;
      justify-content: left;
      padding: 16px 8%;
    }
    #link1{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
    .links #link1 a{
      width: 100%;
      justify-content: space-between;
    }
    .links #link1 img{
      opacity: 0;
    }
    .links .item a #tt{
      left: 16px;
    }
    .mens svg{
      transform: rotate(0deg);
    }
  /*   #link1:hover, #link3:hover,.links .item:hover{
      background-color: #ffffff88;
    } */
    
    .tooltipAcount{
      top: 16px;
      left: 8x;
      position: relative;
      background: none;
      color: var(--light);
      box-shadow: 0px 0px 0px var(--light);
      border: none;
    }
    .tooltipAcount2{
      background: none!important;
      position: relative;
      left: 0px;
    }
    .tool{
      top: 16px;
      left: 8px!important;
      position: relative;
      color: var(--light);
      box-shadow: 0px 0px 0px var(--light);
      border: none;
    }
    .tooltipAcount .item span, .tooltipAcount a{
      color: var(--light);
    }
    #link1 .caret{
      position: absolute;
      right: 20px;
      fill: var(--light);
    }
    #link1 a, #link3 a{
      color: var(--light);
      font-family: var(--montserrat);
      font-weight: 500;
    }
    #link1 a:hover, #link3 a:hover{
      height: auto;
    }
  }
  @media screen and (max-width: 400px) {
    .links{
      width: 250px;
    }
  }
  @media screen and (max-width: 350px) {
    .links{
      width: 200px;
    }
  }